# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode

# Certs
certs/

# Database bind
data/

# Created files
topology.csv